.container {
  width: 50%;
  margin: 0 auto;
}

/* 
ul li {
  display: inline;
  text-align: center;
}

a {
  display: inline-block;
  width: 25%;
  padding: 0.75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: 0.25rem;
  width: 25%;
  margin: 0;
  background: purple;
  border: none;
  transition: 0.3s ease-in-out;
} */

.navbar {
  margin-left: 20%;
  margin-right: 20%;
  z-index: 4;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  top: 20px;
  height: var(--navbar-height);
  background-color: var(--navbar-background-color);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(20, 15, 37, 0.02);
}

.clip-navbar-frame {
  clip-path: polygon(
    0.22% 15.3%,
    2% 2%,
    30.9% 2%,
    32.09% 9.48%,
    65.8% 9.48%,
    66.1% 12.1%,
    98.2% 12.1%,
    99.79% 25%,
    99.79% 25%,
    99.79% 84.8%,
    98.05% 98.05%,
    69.1% 98.05%,
    67.95% 90.5%,
    34.2% 90.5%,
    33.9% 87.9%,
    1.8% 87.9%,
    0.22% 75.4%
  );
}

.navbar img {
  margin: 0 auto;
}

.navbar h3 {
  /* cursor: url("../../assets/icons/cursor-pointer.png"), pointer; */
  font-family: Audiowide;
  cursor: pointer;
  position: relative;
  padding: 5px;
  color: var(--navbar-text-color);
  text-shadow: 0px 0px 15px var(--navbar-text-shadow);
  transition: color 0.3s ease;
}

.navbar h3.active {
  text-shadow: 0px 0px 25px var(--navbar-text-shadow-active);
}

/* 
.navbar h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease, height 0.3s ease;
}

.navbar h3.active::after {
  background-color: var(--navbar-selector-color);
  height: 2px;
  border-radius: 10px;
} */
