.container {
  width: 50%;
  margin: 0 auto;
}

ul li {
  display: inline;
  text-align: center;
}

a {
  display: inline-block;
  width: 25%;
  padding: 0.75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}
/* 
.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: 0.25rem;
  width: 25%;
  margin: 0;
  background: purple;
  border: none;
  transition: 0.3s ease-in-out;
} */

.navbar {
  margin-left: 20%;
  margin-right: 20%;
  z-index: 4;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  top: 30px;
  height: var(--navbar-height);
  border-radius: 35px;
  /* box-shadow: 0px 5px 10px #daa3f3; */
  box-shadow: 0px 5px 10px #e5e5e5;
  background-color: var(--navbar-background-color);
}

.navbar h3 {
  /* cursor: url("../../assets/icons/cursor-pointer.png"), pointer; */
  cursor: pointer;
  position: relative;
  padding: 5px;
  color: #e5e5e5;
  text-shadow: 0px 0px 10px #e5e5e5;
  transition: color 0.3s ease;
}

.navbar h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease, height 0.3s ease;
}

.navbar h3.active::after {
  background-color: black;
  height: 2px;
}
