@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background-color: #000000;

  --navbar-background-color: #161616c6;
  --navbar-height: 60px;
  --navbar-selector-color: #c24498;
  --navbar-text-color: #ffecff;

  --landingpage-background-color: var(--main-background-color);
  --landingpage-border-color: #bea3f5;
  --landingpage-top-left-border-image: url("./assets/icons/border-flower.png");
  --landingpage-top-right-border-image: url("./assets/icons/border-star.png");
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--main-background-color);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
